html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

body, .app {
  background: #f5f5f5;
}

.category-list,
.post-list {
  list-style: none;
}

.category-list{
  display: inline-block;
}

.post {
  padding-top: 10px;
}

.new-post {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background: #ffa;
}

.likes {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.post-title {
  display: inline-block;
}

.selected-btn {
  font-weight: bold;
}

.error {
  color: red;
}
